61-git-remotes-merge-conflict 62-use-lists-and-maps 63-exceptions 64-design-with-maps 65-implement-generic-class README.md text=auto eol=lf
*.[cC][mM][dD] text eol=crlf
*.[bB][aA][tT] text eol=crlf
*.[pP][sS]1 text eol=crlf
